{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>Hello, {{user.name}}!</h1>
        <a href="" class="logout">Logout</a>
        {% if messages %}
            {% for message in messages %}
            <div class="alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}    
        <h5>My Planes:</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>Message ID</th>
                    <th>Date Created</th>
                    <th>Status</th>
                </tr>
            </thead>
            {% if planes %}
            <tbody>
                {% for plane in planes %}
                <tr>
                    <td>
                        <strong>{{ plane.id }}</strong>
                    </td>
                    <td>{{ plane.created_at|date:"M d, Y" }}</td>
                    <td>{{ plane.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>  
        <form method="post" action="/create-plane" class='textarea-form'>
            {% csrf_token %}
            <h5>Write your message:</h5>
            <textarea class="form-control" name=""></textarea>
            <button type="submit" class="btn btn-primary float-right">Create Paper Plane</button>
        </form>                   
    </div>
</body>
</html>
{% endblock content %}