<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marketplace</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="container">
        <h1>Hi, {{ user[0]['first_name'] }}! Welcome to the Marketplace.</h1>
        <a href="/add-product" class="my_transactions">Add Products</a>
        <a href="/logout" class="logout">Logout</a>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert-danger" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %} 
        {% endwith %}
        <div class="container">
            <h3>Items I'm Selling:</h3> 
            {% if categories %}
                {% for category in categories %}
                    <h4>{{ category }}</h4>
                    {% if products %}
                        <ul>
                        {% for product in products %}
                            {% if product.category == category %}
                                {% if product.status == "Available" %}
                                    {% if product.user == user[0]['id'] %}
                                    <li>
                                        <p><a class="product" href="">{{ product.name }}</a> <span>${{product.price}}</span></p>
                                    </li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="container" id="other-products">
            <h3>Products for Sale:</h3>
            {% if categories %}
                {% for category in categories %}
                    <h4>{{ category }}</h4>
                    {% if products %}
                        <ul>
                        {% for product in products %}
                            {% if product.category == category %}
                                {% if product.status == "Available" %}
                                    {% if product.user != user[0]['id'] %}
                                    <li>
                                        <p><a class="product" href="">{{ product.name }}</a> <span>${{product.price}}</span></p>
                                        <p>Posted by {{ product.first_name }} 
                                        {{ product.last_name }}.</p>
                                    </li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>    
</body>
</html>

