{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Hello, {{user.name}}!</h1>
        <a href="logout" class="logout">Logout</a>
        <div class="alert-danger" role="alert">Error Alert Message</div>
        <div class="alert-success" role="alert">Success Alert Message</div>
        <form method="post" action="/create-topic">
            <label for="title">Topic: </label>
            <input type="text" name="title" id="title" placeholder="ex. Chicken or Egg?">          
            <label for="description">Description: </label>
            <textarea name="description" rows="5"></textarea>
            <button type="submit">Post</button>
        </form>
        <h5>Debate topics created by other users:</h5>
        <table class="table other-topics">
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Date Created</th>
                    <th>Created By</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Some Topic Title</td>
                    <td>Aug. 28, 2019</td>
                    <td>KB</td>
                </tr>
            </tbody>
        </table> 
        <h5>Debate topics I created:</h5>
        <table class="table my-topics">
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Date Created</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Should smoking be banned?</td>
                    <td>Aug. 28, 2019</td>
                </tr>
            </tbody>
        </table> 
    </div>
{% endblock content %}