<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Debate</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
    <div class="container">
        <h1>Hello, <%= user[0].name %>!!</h1>
        <a href="/logout" class="logout">Logout</a>
        <% if(messages.validation) { %>
		     <% for (var message of messages.validation) { %>
		     <div class="alert-danger" role="alert"><%= message %></div>
		     <% } %>
		 <% } %>
        <form method="post" action="/create-topic">
            <label for="title">Topic: </label>
            <input type="text" name="title" id="title" placeholder="ex. Chicken or Egg?">          
            <label for="description">Description: </label>
            <textarea name="description" rows="5"></textarea>
            <button type="submit">Post</button>
        </form>
        <h5>Debate topics created by other users:</h5>
        <table class="table other-topics">
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Date Created</th>
                    <th>Created By</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a class="fresh-topic" href="">Some Topic Title</a></td>
                    <td>Aug. 28, 2019</td>
                    <td>KB</td>
                </tr>
            </tbody>
        </table> 
        <h5>Debate topics I created:</h5>
        <table class="table my-topics">
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Date Created</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a class="my-topic" href="">Should smoking be banned?</a></td>
                    <td>Aug. 28, 2019</td>
                </tr>
            </tbody>
        </table> 
    </div>
</body>
</html>

