<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quotes</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
    <div class="container">
	    <h1>Hello, <%= user[0].name %>!</h1>
	    <h5>Username: <%= user[0].username %></h5>
	    <h5>This will be a portal where we can encourage each other with quotes that have inspired you.</h5>
	</div>
</body>
</html>

