{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <h3>{{ product.name }}</h3>      
        </div>
        <div class="col">
            <div class="float-right">
                <a href="/dashboard" class="btn btn-link mr-sm-2">Dashboard</a>
                <a href="/mytransactions" class="btn btn-link my-2 my-sm-0">My Transactions</a>
                <a href="/logout" class="btn btn-link my-2 my-sm-0">Logout</a>      
            </div>            
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <form method="POST" action="/buy">
                {% csrf_token %}
                <input type="hidden" name="product" value="{{ product.id }}">
                <p>Price: ${{ product.price }}</p>
                <p>Seller: {{ product.user.first_name }} {{ product.user.last_name|slice:"1" }}.</p>
                <p>Description: {{ product.description }}</p>
                {% if product.user_id != user.id %}
                <div class="form-group row">
                    <div class="col-sm-12">
                      <button type="submit" class="buy btn btn-primary float-right">Buy</button>
                    </div>
                </div>
                {% endif %}
            </form>
            <hr>     
        </div>  
    </div>
    {% if product.user_id != user.id %}
    <div class="row align-items-end">
        <div class="col">
            <form method="POST" action="/negotiate">
                {% csrf_token %}
                <div class="form-group row">
                    <p>Negotiate to buy at a lower price</p>
                    <label for="price" class="col-sm-2 col-form-label">Asking Price:</label>
                    <div class="input-group mb-2 col-sm-10">
                        <div class="input-group-prepend">
                            <div class="input-group-text">$</div>
                        </div>
                        <input type="number" class="form-control" id="price" placeholder="40.00" name="price">
                    </div>
                </div>
                <input type="hidden" name="product" value="{{ product.id }}">
                <div class="form-group row">
                    <div class="col-sm-12">
                      <button type="submit" class="negotiate btn btn-primary float-right">Negotiate</button>
                    </div>
                </div>
            </form>
            <hr>     
        </div>  
    </div>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}    
</div>
{% endblock content %}