<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paper Plane</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
   <div class="container">
        <h1>Hello, Brian!</h1>
        <p>You have successfully registered / logged in!</p>
        <p>Here are the information you entered: </p>
        <p>Email: steven@brian.com</p>
        <p>Country: Canada</p>
        <p>Interests: Memes, Movies, Video Games</p>
        <p>Languages: English, French Spanish</p>                   
    </div>
</body>
</html>

