<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Qoutes</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="container">
        <h1>Hello, {{ user[0]['name'] }}!</h1>
       <a href="/logout" class="logout">Logout</a>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert-danger" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %} 
        {% endwith %}
        <h5>Share a Quote:</h5>
        <form method="post" action="/create-quote">
            <input class="form-control" type="text" name="quoted_by" placeholder="Quote By">
            <textarea class="form-control" name="quote" placeholder="Quote"></textarea>
            <button type="submit" class="btn btn-primary float-right">Add Quote</button>
        </form>
        <h5>Inspirational Quotes:</h5>
        <table class="table">
            <tbody>
            {% if quotes %}
                {% for quote in quotes %}
                <tr>
                    <td><strong>{{ quote['quoted_by'] }}:</strong></td>
                    <td>"{{ quote['quote'] }}"</td>
                    <td>Posted By: <span>{{ quote['name'] }}</span></td>
                    {% if quote['user_id'] == user[0]['id'] %}
                    <td>
                        <form method="POST" action="delete-quote">
                            <input class="quote_id" type="hidden" name="quote_id" value="{{ quote['id'] }}">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                    </td>
                    {% endif %}
                    <td>
                        <form method="POST" action="move-to-favorites">
                            <input class="quote_id" type="hidden" name="quote_id" value="{{ quote['id'] }}">
                            <button type="submit">Move to Favorites</button>
                        </form>                    
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <h5>Your Favorite Quotes:</h5>
        <table class="table" id="favorite_quotes">
            <tbody>
            {% if favorite_quotes %}
                {% for favorite_quote in favorite_quotes %}
                <tr>
                    <tr>
                        <td><strong>{{ favorite_quote['quoted_by'] }}:</strong></td>
                        <td>"{{ favorite_quote['quote']}}"</td>
                        <td>Posted By: <span>{{ favorite_quote['name'] }}</span></td>
                        <td>
                            <form method="POST" action="remove-from-favorites">
                                <input class="favorite_id" type="hidden" name="favorite_id" value="{{ favorite_quote['favorites_id'] }}">
                                <button type="submit">Remove from list</button>
                            </form>
                        </td>
                    </tr>
                </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>  
    </div>
    
</body>
</html>

