{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1>Hi, {{ user.first_name }}! Welcome to the Marketplace.</h1>
    <a href="/add-product" class="my_transactions">Add Products</a>
    <a href="/logout" class="logout">Logout</a>
    {% if messages %}
        {% for message in messages %}
        <div class="alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    <div class="container" id="my-products">
        <h3>Items I'm Selling:</h3>
        {% if categories %}
            {% for category in categories %}
                <h4>{{ category }}</h4>
                {% if products %}
                    <ul>
                    {% for product in products %}
                        {% if product.category == category %}
                            {% if product.status == "Available" %}
                                {% if product.user_id == user.id %}
                                <li>
                                    <p><a class="product" href="">{{ product.name }}</a> <span>${{product.price}}</span></p>
                                </li>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="container" id="other-products">
        <h3>Products for Sale:</h3>
        {% if categories %}
            {% for category in categories %}
                <h4>{{ category }}</h4>
                {% if products %}
                    <ul>
                    {% for product in products %}
                        {% if product.category == category %}
                            {% if product.status == "Available" %}
                                {% if product.user_id != user.id %}
                                <li>
                                    <p><a class="product" href="">{{ product.name }}</a> <span>${{product.price}}</span></p>
                                    <p>Posted by {{ product.user.first_name }} {{ product.user.last_name|slice:"1" }}.</p>
                                    <p>
                                        <form method="post" action="buy">
                                            {% csrf_token %}
                                            <input type="hidden" name="product_id" value="{{ product.id }}">
                                            <button type="submit">Buy</button>
                                        </form>
                                    </p>
                                </li>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% if items_bought %}
    <div class="container" id="bought-products">
        <h3>Items Bought:</h3>
        {% if categories %}
            {% for category in categories %}
                <h4>{{ category }}</h4>
                <ul class="items_bought">
                    {% for item_bought in items_bought %}
                        {% if item_bought.category == category %}
                        <li>
                            <p>
                                <a href="">{{ item_bought.product.name }}</a>
                                <span>${{ item_bought.price }}</span>
                            </p>
                            <p>
                                Posted By {{ item_bought.product.user.first_name }} {{ item_bought.product.user.last_name|slice:"1" }}.
                            </p>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        {% endif %}    
    </div>
    {% endif %}
</div>
{% endblock content %}