<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
   	<div class="container">
        <h1>Hello, {{user[0]['name']}}!</h1>
        <a href="/logout" class="logout">Logout</a>
       {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert-danger" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %} 
        {% endwith %}
        <h5>Virtual planes landed in your location:</h5>
        <table class="table" id="messages-received">
            <thead>
                <tr>
                    <th>Plane ID</th>
                    <th>Time Arrived</th>
                </tr>
            </thead>
            {% if secret_messages %}
            <tbody>
                {% for secret_message in secret_messages %}
                <tr>
                    <td>{{ secret_message['plane'] }}</td>
                    <td><a class="received-plane" href="/planes/{{ secret_message['plane'] }}">{{ secret_message['created_at'].strftime('%m-%d-%Y') }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
        <h5>My Planes:</h5>
       <table class="table">
            <thead>
                <tr>
                    <th>Message ID</th>
                    <th>Date Created</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            {% if planes %}
            <tbody>
                {% for plane in planes %}
                <tr>
                    <td>
                        <strong>{{ plane['id'] }}</strong>
                    </td>
                    <td>
                       <a class="my-plane" href="/planes/{{ plane['id']}}">{{ plane['created_at'].strftime('%m-%d-%Y') }}</a>
                    </td>
                    <td>{{ plane['status'] }}</td>
                    <td>
                       {% if plane['status'] != "Landed" %}
                            <form method="POST" action="/throw-plane">
                                <input class="throw_plane_id" type="hidden" name="plane_id" value="{{ plane['id'] }}">
                                <button class="btn btn-light">Throw Plane!</button>
                            </form>                        
                        {% endif %}                 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>  
        <form method="post" action="/create-plane" class='textarea-form'>
            <h5>Write your message:</h5>
            <textarea class="form-control" name="message"></textarea>
            <button type="submit" class="btn btn-primary float-right">Create Paper Plane</button>
        </form>                   
    </div>
    
</body>
</html>

