<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Paper Plane</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<h1>Welcome!</h1>
<div class="container">
	<div class="row">
		<h5>Register</h5>
	</div>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-danger" role="alert">
				{{ message }}
			</div>
			{% endfor %}
		{% endif %}	
	{% endwith %}
	<div class="row">
		<div class="col-sm">
			<form method="post" action="/register">
				<div class="form-group row">
					<label for="name" class="col-sm-5 col-form-label">Name</label>
					<div class="col-sm-7">
						<input type="text" name="name" class="form-control" id="name" placeholder="ex. John">
					</div>
				</div>			
				<div class="form-group row">
					<label for="email" class="col-sm-5 col-form-label">Email</label>
					<div class="col-sm-7">
						<input type="email" name="email" class="form-control form-control-sm" id="email" placeholder="ex. azam@bagatov.com">
					</div>
				</div>
				<div class="form-group row">
					<label for="password" class="col-sm-5 col-form-label">Password</label>
					<div class="col-sm-7">
						<input type="password" name="password" class="form-control form-control-sm" id="password">
					</div>
				</div>	
				<div class="form-group row">
					<label for="c_password" class="col-sm-5 col-form-label">Confirm Password</label>
					<div class="col-sm-7">
						<input type="password" name="c_password" class="form-control" id="c_password">
					</div>
				</div>
				<div class="form-group row">
					<label for="country" class="col-sm-5 col-form-label">Country</label>
					<div class="col-sm-7">
						<select name="country" class="form-control">
							<option value="United States">United States</option>
							<option value="China">China</option>
							<option value="Japan">Japan</option>
							<option value="South Korea">South Korea</option>
							<option value="United Kingdom">United Kingdom</option>
							<option value="Egypt">Egypt</option>
						</select>
					</div>
				</div>				
				<div class="row">
					<div class="col-sm">
						<div class="form-group row">
							<label class="col-sm-5 col-form-label">Interests:</label>
						</div>			  
						<div class="form-check">
							<input name="interests" class="form-check-input" type="checkbox" value="sports" id="sports">
							<label class="form-check-label" for="sports">Sports</label>
						</div>
						<div class="form-check">
							<input name="interests" class="form-check-input" type="checkbox" id="memes" value="memes">
							<label class="form-check-label" for="memes">Memes</label>
						</div>			  	
						<div class="form-check">
							<input name="interests" class="form-check-input" type="checkbox" id="movies" value="movies">
							<label class="form-check-label" for="movies">Movies</label>
						</div>
						<div class="form-check">
							<input name="interests" class="form-check-input" type="checkbox" id="video_games" value="Video Games">
							<label class="form-check-label" for="video_games">Video Games</label>
						</div>	
						<div class="form-check">
							<input name="interests" class="form-check-input" type="checkbox" id="beach" value="Beach">
							<label class="form-check-label" for="beach">Beach</label>
						</div>		
						<div class="form-check">
							<input name="interests" class="form-check-input" type="checkbox" id="cooking" value="Cooking">
							<label class="form-check-label" for="cooking">Cooking</label>
						</div>
						<div class="form-check">
							<input name="interests" class="form-check-input" type="checkbox" id="crochet" value="Crochet">
							<label class="form-check-label" for="crochet">Crochet</label>
						</div>				  		
					</div>
					<div class="col-sm">
						<div class="form-group row">
							<label class="col-sm-5 col-form-label">Language:</label>
						</div>
						<div class="form-check">
							<input name="language" class="form-check-input" type="checkbox" value="mandarin" id="mandarin">
							<label class="form-check-label" for="mandarin">Mandarin</label>
						</div>
						<div class="form-check">
							<input name="language" class="form-check-input" type="checkbox" value="english" id="english">
							<label class="form-check-label" for="english">English</label>
						</div>
						<div class="form-check">
							<input name="language" class="form-check-input" type="checkbox" value="french" id="french">
							<label class="form-check-label" for="french">French</label>
						</div>
						<div class="form-check">
							<input name="language" class="form-check-input" type="checkbox" value="spanish" id="spanish">
							<label class="form-check-label" for="spanish">Spanish</label>
						</div>
						<div class="form-check">
							<input name="language" class="form-check-input" type="checkbox" value="italian" id="italian">
							<label class="form-check-label" for="italian">Italian</label>
						</div>	
						<div class="form-group row"></div>				  		
					</div>		  	
				</div>
				<button type="submit" class="btn btn-primary float-right">Register</button>
			</form>
		</div>
		<div class="col-sm">
			<form method="post" action="/login">
				<div class="form-group row">
					<label for="email" class="col-sm-5 col-form-label">Email</label>
					<div class="col-sm-7">
						<input type="email" name="email" class="form-control form-control-sm" id="email" placeholder="ex. azam@bagatov.com">
					</div>
				</div>
				<div class="form-group row">
					<label for="password" class="col-sm-5 col-form-label">Password</label>
					<div class="col-sm-7">
						<input type="password" name="password" class="form-control form-control-sm" id="password">
					</div>
				</div>
				<button type="submit" class="btn btn-primary float-right">Login</button>
			</form>				
		</div>
	</div>
</div>
</body>
</html>