{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Hello, {{ user.name }}!</h1>
    <a href="/logout" class="logout">Logout</a>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %} 
    <h5>Share a Quote:</h5>
    <form method="post" action="/create-quote">
        {% csrf_token %}
        <input class="form-control" type="text" name="quoted_by" placeholder="Quote By">
        <textarea class="form-control" name="quote" placeholder="Quote"></textarea>
        <button type="submit" class="btn btn-primary float-right">Add Quote</button>
    </form>
    <h5>Inspirational Quotes:</h5>
    <table class="table">
        <tbody>
        {% if quotes %}
            {% for quote in quotes %}
            <tr>
                <td><strong>{{ quote.quoted_by }}:</strong></td>
                <td>"{{ quote.quote }}"</td>
                <td>Posted By: <span>{{ quote.user.name }}</span></td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table> 
</div>
{% endblock content %}