{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>{{ topic.title }} <small>{{ topic.user.name }}</small></h1>
        <a href="/logout" class="logout">Logout</a>
        <p>{{ topic.description }}</p>
        <div class="container">
            <h4>Agree</h4>
            <p class="agree-points-total">Current Points: {{ agree_points_total }}</p>
            {% if arguments %}
                {% for argument in arguments %}
                    {% if argument.stance == "agree" %}            
                        <div class="agree_item">
                            <p>{{ argument.argument }}</p>
                            <p class="user">by {{ argument.user.name }}</p>
                            <a href="" class="agree-points">{{ argument.point }} points </a>
                            <div class="row">
                                <form method="post" action="/upvote">
                                    {% csrf_token %}
                                    <input type="hidden" name="topic_id" value="{{ topic.id }}">
                                    <input type="hidden" name="argument_id" value="{{ argument.id }}">
                                    <button type="submit" class="btn btn-default">
                                        Upvote
                                    </button>                                   
                                </form>
                                <form method="post" action="/downvote">
                                    {% csrf_token %}
                                    <input type="hidden" name="topic_id" value="{{ topic.id }}">
                                    <input type="hidden" name="argument_id" value="{{ argument.id }}">
                                    <button type="submit" class="btn btn-default">
                                        Downvote
                                    </button>
                                </form>
                            </div>   
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="container">
            <h4>Neutral</h4>
            <p class="neutral-points-total">Current Points: {{ neutral_points_total }}</p>
            {% if arguments %}
                {% for argument in arguments %}
                    {% if argument.stance == "neutral" %}       
                        <div class="neutral_item">
                            <p>{{ argument.argument }}</p>
                            <p class="user">by {{ argument.user.name }}</p>
                            <a href="" class="neutral-points">{{ argument.point }} points </a>
                            <div class="row">
                                <form method="post" action="/upvote">
                                    {% csrf_token %}
                                    <input type="hidden" name="topic_id" value="{{ topic.id }}">
                                    <input type="hidden" name="argument_id" value="{{ argument.id }}">
                                    <button type="submit" class="btn btn-default">
                                        Upvote
                                    </button>                                   
                                </form>
                                <form method="post" action="/downvote">
                                    {% csrf_token %}
                                    <input type="hidden" name="topic_id" value="{{ topic.id }}">
                                    <input type="hidden" name="argument_id" value="{{ argument.id }}">
                                    <button type="submit" class="btn btn-default">
                                        Downvote
                                    </button>
                                </form>
                            </div>  
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>     
        <div class="container">
            <h4>Disagree</h4>
            <p class="disagree-points-total">Current Points: {{ disagree_points_total }}</p>
            {% if arguments %}
                {% for argument in arguments %}
                    {% if argument.stance == "disagree" %}  
                        <div class="disagree_item">
                            <p>{{ argument.argument }}</p>
                            <p class="user">by {{ argument.user.name }}</p>
                            <a href="" class="disagree-points">{{ argument.point }} points </a>
                            <div class="row">
                                <form method="post" action="/upvote">
                                    {% csrf_token %}
                                    <input type="hidden" name="topic_id" value="{{ topic.id }}">
                                    <input type="hidden" name="argument_id" value="{{ argument.id }}">
                                    <button type="submit" class="btn btn-default">
                                        Upvote
                                    </button>                                   
                                </form>
                                <form method="post" action="/downvote">
                                    {% csrf_token %}
                                    <input type="hidden" name="topic_id" value="{{ topic.id }}">
                                    <input type="hidden" name="argument_id" value="{{ argument.id }}">
                                    <button type="submit" class="btn btn-default">
                                        Downvote
                                    </button>
                                </form>
                            </div>  
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>   
        {% if messages %}
            {% for message in messages %}
            <div class="alert-danger" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <form method="post" action="/create-argument">
            {% csrf_token %}
            <input type="hidden" name="topic_id" value="{{ topic.id }}">
            <span>I</span>
            <select name="stance">
                <option value="agree">Agree</option>
                <option value="neutral">Neutral</option>
                <option value="disagree">Disagree</option>
            </select>
            <span>because:</span>
            <textarea name="argument" rows="5"></textarea>         
            <button type="submit">Post</button>
        </form>
    </div>
{% endblock content %}